<div class="d-flex flex-row">
            <form>
                <div class="form-group">
                  <label for="characterName">Character Name</label>
                  <input type="text" class="form-control" id="characterName" placeholder="Character Name">
                </div>
                <div class="form-group">
                  <label for="raceChoice">Races</label>
                  <select class="form-control" id="raceChoice">
                  </select>
                </div>
                <div class="form-group">
                    <label for="classChoice">Classes</label>
                    <select class="form-control" id="classChoice">
                    </select>
                </div>
                <div class="form-group">
                    <label for="classChoice">Simple Weapons (Must Select One)</label>
                    <select class="form-control" id="simpleweaponChoice">
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" id="raceClassBtn">Continue</button>                
              </form>
            <div class="d-flex flex-column" id="newCharacter">
            <div id="createdCharacter">
            </div>
            <h4 class= "attributes" id="str"></h4><br>
            <h4 class= "attributes" id="int"></h4><br>
            <h4 class= "attributes" id="wis"></h4><br>
            <h4 class= "attributes" id="dex"></h4><br>
            <h4 class= "attributes" id="con"></h4><br>
            <h4 class= "attributes" id="cha"></h4><br>
            </div>
    </div>