<div class="d-flex flex-column justify-content-center">
<section class="d-flex flex-row" style="min-width: 450px;">
    <div class="d-flex flex-column ml-auto mr-auto members-container p-2">
        <h1 class="m-0">GAME CREATION</h1>
        <h3 class="text-center">Your Dynasty Starts Here....</h3>


    <form id="gameForm" >
        <label for="nameOfGame">Name of Game:</label>
        <input type="text" id="nameOfGame" name="nameOfGame">
        <label for="storyLine">Story Line:</label>
        <input type="text" id="storyLine" name="storyLine">

        <h6>Choose a Map</h6>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="mapOfGame" value="dungeon" id="dungeonEntrance">
            <label class="form-check-label" for="dungeonEntrance">
            DungeonEntrance
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="mapOfGame" value="forest" id="forestPath">
            <label class="form-check-label" for="forestPath">
                ForestPath
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="mapOfGame" value="frozen" id="frozenRiver">
            <label class="form-check-label" for="frozenRiver">
                Frozen River
            </label>
        </div>


        <button type='submit' id="gameForm-submit-btn" class="btn btn-danger">Continue</button>
    </form>
    <div id="listgames" class="mt-5 d-flex flex-column">
    </div>
    </div>
</section>
<section class="container-fluid d-flex flex-row align-items-center justify-content-center">
    <div class="d-flex flex-column mt-2 members-container p-2" style="max-width: 500px;">
    <h1>CHARACTER CREATION</h1>
    <h2 class="text-center">for</h2>
    <h1 id="gamename">NAME GOES HERE</h1>
    <form>
        <section class="form-group">
            <label for="characterName">
                <h3>Character Name</h3>
                Please enter a unique name for your character below.
            </label>
            <input type="text" class="form-control" id="characterName" placeholder="Character Name">
        </section>
        <section class="form-group">
            <label for="raceChoice">
                <h3>Races</h3>
                Choose a race for your character. The race you choose shapes your character's identity and informs their
                natural talents within the game. Not which one to pick? Check out the <a
                    href="https://www.dndbeyond.com/sources/basic-rules/races" target="_new">D&D Beyond</a>
                descriptions.
            </label>
            <select class="form-control" id="raceChoice" placeholder="Choose a race">
            </select>
        </section>
        <section class="form-group">
            <label for="classChoice">
                <h3>Classes</h3>
                Choose a class for your character. Each class represents your character's vocation and the tactics
                they'll typically use within the game. Not which one is best? Check out the <a
                    href="https://www.dndbeyond.com/sources/basic-rules/classes" target="_new">D&D Beyond</a> class
                descriptions.
            </label>
            <select class="form-control" id="classChoice" placeholder="Choose a class">
            </select>
        </section>
        <section class="form-group">
            <label for="classChoice">
                <h3>Weapons</h3>
                Choose a weapon for your character. Each class represents your character's vocation and the tactics
                they'll typically use within the game. Not which one is best? Check out the <a
                    href="https://www.dndbeyond.com/sources/basic-rules/classes" target="_new">D&D Beyond</a> class
                descriptions.
            </label>
            <select class="form-control" id="weapons" placeholder="Choose a weapon">
            </select>
        </section>
        <section class="d-flex flex-row">
        <section class="form-group col-md-2">
        <label for="strAtribute">Strength</label>
        <input type="text" class="form-control" id="strAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="dexAtribute">Dexterity</label>
        <input type="text" class="form-control" id="dexAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="constAtribute">Constitution</label>
        <input type="text" class="form-control" id="constAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="intAtribute">Intelligence</label>
        <input type="text" class="form-control" id="intAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="wisAtribute">Wisdom</label>
        <input type="text" class="form-control" id="wisAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="charAtribute">Charisma</label>
        <input type="text" class="form-control" id="charAtribute">
        </section>
        </section>
        <button type="submit" class="btn btn-danger" id="raceClassBtn">Continue</button>
    </form>
    </div>
<section id="createdCharacter" class="m-5 members-container p-2" style="max-width: 400px;">
<h3 class="text-center">NEW CREATED CHARACTER</h3>
<h3 id="nameText">NAME:</h3>
<section class="d-flex flex-row">
<h3 id="raceText" class="mt-0">Race:</h3>
</section>
<section class="d-flex flex-row">
<h3 id="classText" class="mt-0">Class:</h3>
</section>
<section class="d-flex flex-row">
<section class="d-flex flex-column justify-content-center">
<h3 id="strengthText" class="mt-0">Str:</h3>
</section>
<section class="d-flex flex-column justify-content-center">
<h3 id="dexterityText" class="mx-1 mt-0">Dex:</h3>
</section>
<section class="d-flex flex-column justify-content-center">
<h3 id="constText" class="mx-1 mt-0">Const:</h3>
</section>
<section class="d-flex flex-column justify-content-center">
<h3 id="intellText" class="mx-1 mt-0">Intell:</h3>
</section>
<section class="d-flex flex-column justify-content-center">
<h3 id="wisdomText" class="mx-1 mt-0">Wis:</h3>
</section>
<section class="d-flex flex-column justify-content-center">
<h3 id="charText" class="mx-1 mt-0">Char:</h3>
</section>
</section>
</section>
</section>
</div>

