<section class="container-fluid d-flex flex-row">
    <form>
        <section class="form-group">
            <label for="characterName">
                <h3>Character Name</h3>
                Please enter a unique name for your character below.
            </label>
            <input type="text" class="form-control" id="characterName" placeholder="Character Name">
        </section>
        <section class="form-group">
            <label for="raceChoice">
                <h3>Races</h3>
                Choose a race for your character. The race you choose shapes your character's identity and informs their
                natural talents within the game. Not which one to pick? Check out the <a
                    href="https://www.dndbeyond.com/sources/basic-rules/races" target="_new">D&D Beyond</a>
                descriptions.
            </label>
            <select class="form-control" id="raceChoice" placeholder="Choose a race">
                <option>Dragonborn</option>
                <option>Dwarf</option>
                <option>Elf</option>
                <option>Gnome</option>
                <option>Half-Elf</option>
                <option>Halfling</option>
                <option>Half-Orc</option>
                <option>Human</option>
                <option>Tiefling</option>
            </select>
        </section>
        <section class="form-group">
            <label for="classChoice">
                <h3>Classes</h3>
                Choose a class for your character. Each class represents your character's vocation and the tactics
                they'll typically use within the game. Not which one is best? Check out the <a
                    href="https://www.dndbeyond.com/sources/basic-rules/classes" target="_new">D&D Beyond</a> class
                descriptions.
            </label>
            <select class="form-control" id="classChoice" placeholder="Choose a class">
                <option>Artificer</option>
                <option>Barbarian</option>
                <option>Bard</option>
                <option>Cleric</option>
                <option>Druid</option>
                <option>Fighter</option>
                <option>Monk</option>
                <option>Paladin</option>
                <option>Ranger</option>
                <option>Rogue</option>
                <option>Sorcerer</option>
                <option>Warlock</option>
                <option>Wizard</option>
            </select>
        </section>
        <section class="form-group">
            <label for="classChoice">
                <h3>Simple Weapons</h3>
                Choose a weapon. You can only choose one!
            </label>

            <select class="form-control" id="simpleweaponChoice" placeholder="Choose a weapon">
                <option>Club</option>
                <option>Dagger</option>
                <option>Greatclub</option>
                <option>Handaxe</option>
                <option>Javelin</option>
                <option>Hammer</option>
                <option>Mace</option>
                <option>Quarterstaff</option>
                <option>Sickle</option>
                <option>Spear</option>
                <option>Crossbow</option>
                <option>Dart</option>
                <option>Shortbow</option>
                <option>Sling</option>
                <option>Battleaxe</option>
                <option>Flail</option>
                <option>Glaive</option>
                <option>Greataxe</option>
                <option>Greatsword</option>
                <option>Halberd</option>
                <option>Lance</option>
                <option>Longsword</option>
                <option>Maul</option>
                <option>Morningstar</option>
                <option>Rapier</option>
                <option>Scimitar</option>
                <option>Shortsword</option>
                <option>Trident</option>
                <option>War Pick</option>
                <option>Warhammer</option>
                <option>Whip</option>
                <option>Blowgun</option>
            </select>
        </section>
        <button type="submit" class="btn btn-danger" id="raceClassBtn">Continue</button>
    </form>
    <section class="d-flex flex-column" id="newCharacter">
        <section id="createdCharacter">
        </section>
        <h4 class="attributes" id="str"></h4><br>
        <h4 class="attributes" id="int"></h4><br>
        <h4 class="attributes" id="wis"></h4><br>
        <h4 class="attributes" id="dex"></h4><br>
        <h4 class="attributes" id="con"></h4><br>
        <h4 class="attributes" id="cha"></h4><br>
    </section>
</section>
    <input type="text" >
<section class="container-fluid">
    <form>
        <label for="nameOfGame">Name of Game:</label>
        <input type="text" id="nameOfGame" name="nameOfGame">

        <label for="storyLine">Story Line:</label>
        <input type="text" id="storyLine" name="storyLine">

        <button id="gameForm" class="btn btn-danger">Continue</button>
        
    </form>
</section>
