<section class="container-fluid d-flex flex-row">
    <form>
        <section class="form-group">
            <label for="characterName">
                <h3>Character Name</h3>
                Please enter a unique name for your character below.
            </label>
            <input type="text" class="form-control" id="characterName" placeholder="Character Name">
        </section>
        <section class="form-group">
            <label for="raceChoice">
                <h3>Races</h3>
                Choose a race for your character. The race you choose shapes your character's identity and informs their
                natural talents within the game. Not which one to pick? Check out the <a
                    href="https://www.dndbeyond.com/sources/basic-rules/races" target="_new">D&D Beyond</a>
                descriptions.
            </label>
            <select class="form-control" id="raceChoice" placeholder="Choose a race">
            </select>
        </section>
        <section class="form-group">
            <label for="classChoice">
                <h3>Classes</h3>
                Choose a class for your character. Each class represents your character's vocation and the tactics
                they'll typically use within the game. Not which one is best? Check out the <a
                    href="https://www.dndbeyond.com/sources/basic-rules/classes" target="_new">D&D Beyond</a> class
                descriptions.
            </label>
            <select class="form-control" id="classChoice" placeholder="Choose a class">
            </select>
        </section>
        <section class="form-group">
            <label for="classChoice">
                <h3>Simple Weapons</h3>
                Choose a weapon. You can only choose one!
            </label>

            <select class="form-control" id="simpleweaponChoice" placeholder="Choose a weapon">
            </select>
        </section>
        <section class="d-flex flex-row">
        <section class="form-group col-md-2">
        <label for="strAtribute">Strength</label>
        <input type="text" class="form-control" id="strAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="dexAtribute">Dexterity</label>
        <input type="text" class="form-control" id="dexAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="constAtribute">Constitution</label>
        <input type="text" class="form-control" id="constAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="intAtribute">Intelligence</label>
        <input type="text" class="form-control" id="intAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="wisAtribute">Wisdom</label>
        <input type="text" class="form-control" id="wisAtribute">
        </section>
        <section class="form-group col-md-2">
        <label for="charAtribute">Charisma</label>
        <input type="text" class="form-control" id="charAtribute">
        </section>
        </section>
        <button type="submit" class="btn btn-danger" id="raceClassBtn">Continue</button>
    </form>
    <section class="d-flex flex-column" id="newCharacter">
        <section id="createdCharacter">
        </section>
        <h4 class="attributes" id="str"></h4><br>
        <h4 class="attributes" id="int"></h4><br>
        <h4 class="attributes" id="wis"></h4><br>
        <h4 class="attributes" id="dex"></h4><br>
        <h4 class="attributes" id="con"></h4><br>
        <h4 class="attributes" id="cha"></h4><br>
    </section>
</section>
<section class="container-fluid">
    <form>
        <label for="nameOfGame">Name of Game:</label>
        <input type="text" id="nameOfGame" name="nameOfGame">

        <label for="storyLine">Story Line:</label>
        <input type="text" id="storyLine" name="storyLine">

        <button id="gameForm" class="btn btn-danger">Continue</button>
        
    </form>
</section>
