<section class="container d-flex justify-content-center">
    <section class="row d-flex justify-content-center"> 
        <section class="col-xs-12 col-sm-12 col-md-10 col-lg-10 d-flex justify-content-center">
            <div class="card style howToCard" style="">
            <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">How To Play: Role of Dungeon Master</h5>
            <hr class="hr">
            {{!-- <h6 class="card-subtitle mb-2 text-muted">Role Of The Dungeon Master</h6> --}}
            <p class="card-text">The DM is in charge of the adventure, which appears in the adventure book, while the characters navigate the adventure’s hazards and decide where to explore.</p>
            <p class="card-text">For Example: The DM might describe the entrance to Cragmaw Castle, and the players decide what they want their adventurers to do. Will they boldly stride up to the fallen gate, or try to sneak up in case anyone’s watching through those arrow slits? Circle around the castle looking for another entrance? Or cast a spell to cloak themselves in invisibility?</p>
            <p class="card-text">The DM determines the results of the adventurers’ actions and narrates what the characters experience. Because the DM can improvise to react to anything the players attempt, D&D is infinitely flexible, and each adventure can be exciting and unexpected.</p>
            <a target="_" href="https://dnd.wizards.com/products/tabletop-games/rpg-products/dungeon-masters-guide" class="card-link">Dungeon Master's Guide</a>
            </div>
            <button class="btn btn warning">Ready</button>
            </div>
        </section>

    </section>
    </section>

</section>

