<section class="row container-fluid">
    <img src="/imgs/D&D Header.png" class="header-img col-sm-12">
</section>

<section class="container">
    <section id="" class="row mx-auto col-sm-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 ml-1 background-logo logo-container">
        <img src="/imgs/logo_v2.png" class="col-12 logo" id="logoImg">
        <img src="/imgs/—Pngtree—bloodstain red bloodstain _3940674.png"  class="col-12 hidden overlay" id="blood-smear">
    </section>

    <Section class="row mx-auto col-sm-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 enter-img">
        <img src="/imgs/Enter-DMM NB.png" class="col-12" id="enterImg">
    </Section>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/enter.js"></script>