<h1>Login Your Account</h1>
<section class="container p-5 members-container">
<form action="/register" method="POST">
<div>
    <label for="email">Email: </label>
    <input type="email" id="userEmail" name="userEmail" required>
</div>
<div>
    <label for="password">Password: </label>
    <input type="password" id="userPassword" name="userPassword" required>
</div>
</form>
<a href="/register">Need an account? Register here.</a>
</section>