<h1>Welcome, {{member-name}}!</h1>

<section class="container p-5 members-container">
    <section class="row">
        <section class="col-3">
            <h2>Games List</h2>
            <div id="list-of-games">

            </div>
            <button type="button" class="gamebutton"> TEST BUTTON</button>
        </section>
        <section class="col-9">
            <h2 id="name_of_game">Name of Game</h2>
            <section class="row">
                <section class="col">
                    <h2>Map of Game</h2>
                    <img src="https://via.placeholder.com/300x300?text=Game+Map">
                </section>
                <section class="col">
                    <h2>Story Line</h2>
                    <p id="story_line"></p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error tempora laborum hic eveniet
                    perferendis aspernatur optio officia vero, dolores impedit, molestias asperiores corrupti
                    voluptatibus quam mollitia rerum, velit sequi enim?
                </section>
            </section>
            <section class="row">
                <section class="col">
                    <h2>Character List</h2>
                    <ol>
                        <li><a href="">Character</a></li>
                        <li><a href="">Character</a></li>
                        <li><a href="">Character</a></li>
                        <li><a href="">Character</a></li>
                        <li><a href="">Character</a></li>
                    </ol>
                </section>
                <section class="col">
                    <h2>Attributes Skills etc</h2>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit vitae error laudantium
                    nostrum, est voluptate architecto iure laboriosam dolorum et veritatis quis incidunt? Laboriosam
                    incidunt odio nostrum, culpa molestiae earum.
                </section>
            </section>
        </section>
    </section>
</section>