<h1>Welcome, {{member-name}}!</h1>

<section class="container p-5 members-container">
    <section class="row">
        <section class="col-3">
            <h2>Games List</h2>
            <div id="list-of-games">
            </div>
        </section>
        <section class="col-9">
            <h2 id="name_of_game">Name of Game</h2>
            <section class="row">
                <section class="col">
                    <h2>Map of Game</h2>
                    <img src="https://via.placeholder.com/300x300?text=Game+Map">
                </section>
                <section class="col">
                    <h2>Story Line</h2>
                    <p id="story_line"></p>
                </section>
            </section>
            <section class="row">
                <section class="col">
                    <h2>Character List</h2>
                    <div id="characterList">
                    </div>
                </section>
                <section class="col">
                    <h2>Attributes Skills etc</h2>
                    <div id="attributesection">
                    </div>
                </section>
            </section>
        </section>
    </section>
</section>