<h1>Welcome, {{userName}}!</h1>

<section class="container p-5 members-container">
    <section class="row">
        <section class="col-3">
            <h2>Games List</h2>
            <div id="list-of-games">
            </div>
            <button id="createChar"class="charbutton">+ Create New Game</button>
        </section>
        <section class="col-9">
            <h2 id="name_of_game">Name of Game</h2>
            <section class="row">
                <section class="col">
                    <h2>Map of Game</h2>
                    <img src="imgs/maps/IslandPublic.png" id="map">
                    
                </section>
                <section class="col">
                    <h2>Story Line</h2>
                    <p id="story_line"></p>
                </section>
            </section>
            <section class="row">
                <section class="col">
                    <h2>Character List</h2>
                    <div id="characterList">
                    </div>
                    <button id="createChar"class="charbutton">+ Create New Character</button>
                </section>
                <section class="col">
                    <h2>Attributes Skills etc</h2>
                    <h5 id="racetext">Race:</h5>
                    <h5 id="selectedRace"></h5>
                    <h5 id="classtext">Class:</h5>
                    <h5 id="selectedClass"></h5>
                    <section class="d-flex flex-row">
                        <section class="d-flex flex-column justify-content-center">
                        <h5 id="strengthText" class="mx-1">Str:</h5>
                        <h5 id="selectedStr"></h5>
                        </section>
                        <section class="d-flex flex-column justify-content-center">
                        <h5 id="dexterityText" class="mx-1 mt-0">Dex:</h5>
                        <h5 id="selectedDex"></h5>
                        </section>
                        <section class="d-flex flex-column justify-content-center">
                        <h5 id="constText" class="mx-1 mt-0">Const:</h5>
                        <h5 id="selectedConst"></h5>
                        </section>
                        <section class="d-flex flex-column justify-content-center">
                        <h5 id="intellText" class="mx-1 mt-0">Intell:</h5>
                        <h5 id="selectedIntell"></h5>
                        </section>
                        <section class="d-flex flex-column justify-content-center">
                        <h5 id="wisdomText" class="mx-1 mt-0">Wis:</h5>
                        <h5 id="selectedWisdom"></h5>
                        </section>
                        <section class="d-flex flex-column justify-content-center">
                        <h5 id="charText" class="mx-1 mt-0">Char:</h5>
                        <h5 id="selectedChar"></h5>
                        </section>
                        </section>
                </section>
            </section>
        </section>
    </section>
</section>