
<section class="container p-5 members-container">
    <h1>Register Your Account</h1>
<form action="/register" method="POST">
<div>
    <label for="name">Name: </label>
    <input type="text" id="userName" name="userName" required>
</div>
<div>
    <label for="email">Email: </label>
    <input type="email" id="userEmail" name="userEmail" required>
</div>
<div>
    <label for="password">Password: </label>
    <input type="password" id="userPassword" name="userPassword" required>
</div>
  <button type="submit" class="btn btn-danger">REGISTER YOUR ACCOUNT</button>
</form>
<a href="/login">Already have an account? Login here.</a>
</section>