form.signup,
form.login {
  margin-top: 50px;
}

body {
  background: #1f150c;
  font-family: 'Proza Libre', sans-serif;
  font-size: 14pt;
  color: #d5dad0;
  margin: 2%;
  font-weight: normal;
}

label {
  font-family: 'Proza Libre', sans-serif;
  font-size: 11pt;
  color: #e7ede2;
}

.howToCard {
  font-family: 'Proza Libre', sans-serif !important;
  border: 4px solid #A77464;
  background-color: beige;
}

.members-container {
  background: #2E1E0F;
  border: 2px solid #A77464;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.50);
}

h1 {
  font-family: 'Roboto Slab', serif;
  size: 24px;
  color: #ffc5df;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  size: 20px;
  color: #ff9e9e;
  background: #3d2222;
  padding: 5px;
  padding-left: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  size: 18px;
  color: #de6b6b;
  margin-top: 20px;
}

a:link,
a:visited,
a:active {
  color: #dc3545;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ff7381;
  font-weight: bold;
  text-decoration: none;
}

.logo:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
  display: block;
}

.enter-img:hover {
  cursor: pointer;
}

.hidden {
  display: none;
  left: -600;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes blood-animation {
  0% {
    left: 0;
  }

  10% {
    left: 50%;
  }

  100% {
    left: 10%;
  }
}

.logo-container {
  position: relative;

}

.overlay {
  position: absolute;
  bottom: .5;
  transition: .1s ease;

}

.logo-container:hover .overlay {
  opacity: 1;
}

.gamebutton {
  background-color: #882924;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.gamebutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.25);
  background-color: #b03029;
}

.charbutton {
  background: transparent;
  border: 0px;
  text-align: left;
  display: block;
  width: 100%;
  padding-left: 10px;
}

.charbutton:hover {
  background: #882924;
  border: 0px;
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 10px;
}

.charbutton:active {
  background: #882924;
  border: 0px;
  text-align: left;
  display: block;
  width: 100%;
  border-radius: 10px;
}

button:focus {
  outline: none;
  background-color: #882924;
}

.gamecreateBtn {
  background: transparent;
  font-family: 'Roboto Slab', serif;
  border: 0px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-style: italic;
}

.gamecreateBtn:hover {
  background: #882924;
  border: 0px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#map {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.logout-btn {
  background: transparent;
  border: 0px;
  display: inline-block;
  float: right;
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
}

.logout-btn:hover {
  background: #882924;
  border: 0px;
  display: inline-block;
  float: right;
  padding: 10px;
  border-radius: 10px;
  font-size: 10px;
}