form.signup,
form.login {
  margin-top: 50px;
}

body {
  background: #1f150c;
  font-family: 'Proza Libre', sans-serif;
  font-size: 14pt;
  color: #a2a79e;
  margin: 2%;
}

.container {
  background: #2E1E0F;
  border: 2px solid #A77464;
  border-radius: 10px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  size: 24px;
  color: #A27E8E;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  size: 20px;
  color: #a57373;
  background: #3d2222;
  padding: 5px;
  border-radius: 10px;
}

a:link,
a:visited {
  color: #882924;
  font-weight: bold;
}

a:active {
  color: red;
  font-weight: bolder
}

a:hover {
  color: #cb4942;
  font-weight: bold;
}

.header-img {
  /* width: 300px;
  height: 100px; */
}