form.signup,
form.login {
  margin-top: 50px;
}

body {
  background: #1f150c;
  font-family: 'Proza Libre', sans-serif;
  font-size: 14pt;
  color: #a2a79e;
  margin: 2%;
}

.members-container {
  background: #2E1E0F;
  border: 2px solid #A77464;
  border-radius: 10px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  size: 24px;
  color: #A27E8E;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  size: 20px;
  color: #a57373;
  background: #3d2222;
  padding: 5px;
  border-radius: 10px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  size: 18px;
  color: #ac5f5f;
  margin-top: 20px;
}

a:link,
a:visited {
  color: #882924;
  font-weight: bold;
}

a:active {
  color: red;
  font-weight: bolder
}

a:hover {
  color: #cb4942;
  font-weight: bold;
}

.background-logo {

}

.logo:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
  cursor: pointer;
  display: block;
}

.enter-img:hover {
  cursor: pointer;
}

.hidden {
  display: none;
  left: -600;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes blood-animation {
  0% {
    left: 0;
  }
  10% {
    left: 50%;
  }
  100% {
    left: 10%;
  }
}

.logo-container {
  position: relative;

}

.overlay {
  position: absolute;
  bottom: .5;
  transition: .1s ease;

}

.logo-container:hover .overlay {
  opacity: 1;
}
